* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Main container contains all the product*/
#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* product card */
.product {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 300px;
  overflow: hidden;
  transition: 3sec ease;
}
.product:hover {
  cursor: pointer;
}

.product h2 {
  font-size: 1rem;
  margin-bottom: 10px;
  height: 50px;
}

.price {
  font-weight: bold;
  color: #ff5722;
  margin-top: 25px;
}
/* product image */
img {
  height: 200px;
  width: 200px;
}
.product:hover {
  transform: scale(0.9);
}
h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
p {
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  margin-bottom: 20px;
  text-align: justify;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
