/* Reset some default styles */
body,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Center the content */
.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 50px;
}

/* Header styling */
h2 {
  text-align: center;
  padding-top: 20px;
  color: #333;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

/* Checkbox styling */
p span {
  vertical-align: middle;
}
input[type="checkbox"] {
  margin-right: 5px;
}

/* Button styling */
input[type="submit"] {
  background-color: #1877f2;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}

/* Footer styling */
p {
  font-size: 12px;
  color: grey;
  margin-top: 20px;
  text-align: center;
}
