/* Reset some default styles */
body,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Center the content */
.signup-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 400px;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

/* Header styling */
h2 {
  text-align: center;
  padding-top: 20px;
  color: #333;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px; /* Using relative units for margin */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

/* Checkbox styling */
p span {
  vertical-align: middle;
}
input[type="checkbox"] {
  margin-right: 5px;
}

/* Button styling */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1877f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px; /* Using relative units for padding */
}
input[type="submit"] {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Footer styling */
h5,
h6 {
  font-size: 12px;
  color: #777;
  margin-top: 20px;
  text-align: center;
}
